.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container .box1 > p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.container .box1 {
  width: 100%;
  height: 80vh;
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  margin: 0 auto 20px;
  overflow-y: auto;
  position: relative;
}

.container .box2 {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.container .additionalBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.container .guestBox {
  background-color: var(--guestBook-color);
}
.container .guestBox .title {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.container .guestBox p {
  font-size: 20px;
}

.container .guestBox .title .action {
  margin-left: auto;
}

.container .guestBox .edit,
.container .guestBox .delete {
  display: inline-block;
  background-color: #41aff9;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px;
}

.container .guestBoxBox {
  flex: 1;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.container .guestBox .guestBoxBox .guestContent {
  text-align: left;
  justify-content: flex-start;
  font-size: 20px;
  margin: 0;
  word-wrap: break-word;
}

.container .box1 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container .box1 .modal .modalContent {
  background-color: var(--guestBook-color);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  position: relative;
  margin-top: 50%;
}

@media (min-width: 600px) {
  .container .box1 .modal .modalContent {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    position: relative;
    margin-top: 35%;
  }
}

@media (min-width: 600px) {
  .container .guestBox {
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .container .box1 .modal .modalContent {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    position: relative;
    margin-top: 20%;
  }
}

.container .box1 .modal .modalContent .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0rem;
  right: 1rem;
}

.container .box1 .modal .modalContent .close:hover,
.container .box1 .modal .modalContent .close:focus {
  text-decoration: none;
  cursor: pointer;
}

button[type="submit"] {
  flex: 1;
  width: 40%;
  margin-top: 10px;
  padding: 10px;
  background-color: #41aff9;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.container .box1 .modal .modalContent label[for="userId"],
.container .box1 .modal .modalContent label[for="content"] {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.container .box1 .modal .modalContent .userId,
.container .box1 .modal .modalContent .content {
  font-size: 20px;
  padding: auto;
  width: 40%;
  border: 2px solid black;
}

.editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.editModalContent {
  background-color: var(--guestBook-color);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  position: relative;
  margin-top: 50%;
}

@media (min-width: 600px) {
  .editModalContent {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    position: relative;
    margin-top: 35%;
  }
}

@media (min-width: 1024px) {
  .editModalContent {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    position: relative;
    margin-top: 20%;
  }
}

.closeEditModal {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0rem;
  right: 1rem;
}

.closeEditModal:hover,
.closeEditModal:focus {
  text-decoration: none;
  cursor: pointer;
}

.editModalContent label[for="editUserId"],
.editModalContent label[for="editContent"] {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.editModalContent .editUserId,
.editModalContent .editContent {
  font-size: 20px;
  padding: auto;
  width: 40%;
  border: 2px solid black;
}
