footer {
  background-color: #eee;
  color: var(--footer-color);
  padding: 1.6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 12rem; */
}

footer .teamIntroduction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .teamIntroduction>* {
  margin-right: 4px;
  font-size: 1.4rem;
}

footer .teamIntroduction button {
  border-radius: 0.2rem;
  font-size: 1rem;
}

footer .members {
  font-size: 0.8rem;
  /* height: 8rem; */
  margin: 0.2rem 0;
}

footer .members .member {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
}

footer .members .member:nth-last-child(1) {
  margin: 0;
}

footer .members .member>* {
  margin-right: 0.2rem;
}

footer .members .member button {
  cursor: default;
  font-size: 0.6rem;
}

@media (min-width: 600px) {
  footer .teamIntroduction>* {
    font-size: 2rem;
    margin-right: 6px;
  }

  footer .teamIntroduction button {
    font-size: 1.4rem;
  }

  footer .members {
    font-size: 1rem;
  }

  footer .members .member button {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  footer .teamIntroduction>* {
    font-size: 2.4rem;
    margin-right: 8px;
  }

  footer .teamIntroduction button {
    font-size: 2rem;
  }

  footer .members {
    font-size: 1.4rem;
  }

  footer .members .member button {
    font-size: 1rem;
  }
}