/* css 초기 설정 : https://blog.pumpkin-raccoon.com/72(참고 블로그) >> 수정해도 됩니다! */

@import "./container.css";
@import "./description.css";
@import "./footer.css";
@import "./header.css";
@import "./intro.css";
@import "./main.css";
@import "./profile.css";
@import "./share.css";
@import "./updown.css";

:root {
  /* --main-color1: #8294c4;
  --main-color2: #acb1d6;
  --main-color3: #dbdfea;
  --main-color4: #ffead2; */
  /* 그래프 안 동그라미 색깔 전역변수로 선언 */
  --header-color1: #98d5fe;
  --header-color2: #d2ebfc;
  --dot-color: #98d5fe;

  --circle-color1: #6fc3fb;
  --circle-color2: #00a6ff;
  --circle-color3: #0285dd;
  --bubble-color: #6fc3fb;

  --guestBook-color: #98d5fe;

  --footer-color: #5f5e5e;

  --js-icon: #5aa14a;
  --x-icon: #1a1a1a;
  --brave-icon: #ff2101;
  --naver-icon: #2db400;
  --kakao-icon: #fae100;
  --facebook-icon: #0964fe;
  --email-icon: #ff5c5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input:focus {
  border: none;
}

button {
  background-color: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 340px;
}

#frame {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #e7f5fd;
}
